@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../immages/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height:100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.header{
    height: 3rem;
    width: 100%;
    position: absolute;
    top: 1rem;
    left: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content:center;
}
.box{
    /* min-width: auto; */
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content:center;
    box-shadow: 0 10px 25px rgba(92,99,105,.4);
    border-radius:5px;
}
h1{
    font-weight: normal;
    font-size:1rem;
    text-align: center;
}
.countdown-container{
    width:auto;
    height:4rem;
    display: flex;
    /* flex-wrap: wrap; */
}
.big-text{
    font-size:1rem;
    line-height: 1;
    margin: 0 2rem;
    color: rgb(0, 0, 0);
}
.countdown-el{
    text-align: center;
    height:3rem;
    border-right: 1px solid #1a994f;
}
.countdown-el span{
    font-size:1rem;
}
.countdown-el.seconds-c{
border-right : none;
}
input[type='date']{
    background-color: #0080ff;
    border: none;
    color: #fff;
    border-radius: 5px;
    width:10rem;
    outline: none;
}
input[type='time']{
    background-color: #0080ff;
    border: none;
    color: #fff;
    border-radius: 5px;
    width:10rem;
}
input[type='date']:active{
    background-color: #2a549c;

}
input[type='time']:active{
    background-color: #2a549c;

}
#input_date{
    padding:1rem;
    cursor: pointer;
    margin-left: .20rem;
}
#input_time{
    padding:1rem ;
    cursor: pointer;
}
input[type='time']:after {
    color: #ffffff;
    content: attr(placeholder);
}
input[type='date']:after {
    color: #ffffff;
    content: attr(placeholder);
}

#submit{
    background-color:#2ecc71;
    width:70px;
    height:40px;
    align-items: center;
    margin:2px 2px;
    border:none;
    border-radius: 3px;
    transition: 0.4s;
    cursor: pointer;
}
#submit:hover{
    background-color:#27ae60
}
#submit:active{
    background-color:#1abc9c;
}
.header p{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px 10px;
}
.buttons{
    position:absolute;
    top:35rem;
}
.logInfo-container{
    display: flex;
    flex-direction: column;
    margin-bottom:2rem;
}
.logInfo{
    height: 17rem;
    background-color: rgb(135, 133, 133);
    width: 20rem;
    margin-top:-9rem ;
    border-radius: 5px;
    color: #ffffff;
    padding:1rem;
    overflow: hidden;
    overflow-y: scroll;
    
}
.logControlBtn{
    padding: .23rem 0rem 0rem 13.70rem;
    /* background-color:red; */

}
#logc{
    width: 3rem;
    height: 2rem;
    border :none;
    outline : none;
    background-color:#0080ff;
    border-radius: 5px;
}
#logc:hover{
    background-color : #588fef;
}
@media screen and (min-width: 763px) {
    .box{
        /* min-width: auto; */
        justify-content:right;
        box-shadow: 0 10px 25px rgba(92,99,105,.4);
        border-radius:5px;
        transform:scale(-50% -50%);
    }
    .big-text{
        font-size:3rem;
        line-height: 1;
        margin: 0 2rem;
    }
    .countdown-container{
        width:auto;
        height: 5rem;
        display: flex;
        /* flex-wrap: wrap; */
    }
    h1{
        font-size:2rem;
    }
    input[type='time']:after {
        color: #ffffff;
        content: none;
    }
    input[type='date']:after {
        color: #ffffff;
        content: none;
    }
    .logInfo-container{
        display: flex;
        flex-direction: column;
        margin-bottom:2rem;
    }
    .logInfo{
        height: 17rem;
        background-color: rgb(135, 133, 133);
        width: 20rem;
        margin-top:-9rem ;
        border-radius: 5px;
        color: #ffffff;
        padding:1rem;
        overflow: hidden;
        overflow-y: scroll;
    }
    .logControlBtn{
        padding: .23rem 0rem 0rem 13.70rem;
        /* background-color:red; */

    }
    #logc{
        width: 3rem;
        height: 2rem;
        border :none;
        outline : none;
        background-color:#0080ff;
        border-radius: 5px;
        cursor: pointer;
    }
    #logc:hover{
        background-color : #588fef;
    }
    .logs{
        color: rgb(232, 222, 222);
        display: flex;
        padding-left: 2rem;
        gap:1rem;
    }
  }